<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div style="text-align: center;padding-top:7%;">
<h3>Added:</h3>
<% if(url) { %>
  <h3>URL: <%= url %></h3>
  <h3>Title: <%= unescape(pageTitle) %></h3>
<% } %>
</div>
</body>
</html>
