<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<% if(url) { %>
  <h3>URL: <%= url %></h3>
  <h3>Title: <%= pageTitle %></h3>
<% } %>
</body>
</html>
