<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/socket.js"></script>
  </head>
<body>
<footer>
    <button class="clearAll">Delete All</button>
    <% if(httpAuth) { %>
      <!-- THIS IS SUCH A HACK!!! -->
      <button class="logout" onclick="location.href='http://log:out@' + window.location.host;">Logout</button>
    <% } %>
</footer>
</body>
</html>
