body {
  background: #333333;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", Helvetica, Verdana, Arial, Sans-Serif;
}
.container {
  width: 60%;
  margin: 7% auto;
}
footer {
  width: 60%;
  margin: -5em auto;
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
  }
  footer {
    width: 90%;
    margin: 0 auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e64c65;
  font-weight: 100;
}
.item {
  border: 0;
  border-left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 32px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.35);
}
.item > a:link,
.item > a:active,
.item > a:visited {
  text-decoration: none;
  color: #b4b4b4;
  padding-left: 5px;
}
.item > a:hover {
  transition: all 0.3s ease-out;
  color: #e64c65;
}
.remove {
  display: block;
  background: url(/img/remove.png);
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 7px;
  padding-top: 16px;
  padding-right: 16px;
  opacity: 0.3;
}
.remove:hover {
  background: url(/img/remove_hover_red.png);
  opacity: 1.0;
  transition: all 0.3s ease-out;
}
.edit {
  display: block;
  background: url(/img/pencil.png);
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 7px;
  margin-right: 5px;
  padding-top: 16px;
  padding-right: 16px;
  opacity: 0.3;
}
.edit:hover {
  background: url(/img/pencil_hover_green.png);
  opacity: 1.0;
  transition: all 0.3s ease-out;
}
button {
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  color: #b4b4b4;
  font: 400 18px "Montserrat", Helvetica, Verdana, sans-serif;
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.35);
}
button:hover {
  color: #e64c65;
  transition: all 0.3s ease-out;
}
.clearAll {
  float: right;
}
.return {
  float: none;
}
[contenteditable] {
  background-color: rgba(172, 167, 167, 0.3);
  padding: 7px 6px 7px 0;
}
[contenteditable]:hover:after {
  content: ' Enter to Submit. ESC to Undo.';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #000;
}
[contenteditable]:focus {
  padding: 5px;
}
[contenteditable]:focus:after {
  content: '';
}
