@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
 height: 100%;
 background: rgb(51,51,51);
}

body {
 height: 100%;
 text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
/*  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); */
}

.container {
  width: 50%;
  margin-left: 25%;
  padding-top: 7%;
}

h1,h2,h3,h4,h5,h6{
	color:#e64c65;
	font-family:"Montserrat",Helvetica,Verdana,Arial,Sans-Serif;
	font-weight:100;
}

.item a:link, a:hover, a:active, a:visited {
   text-decoration: none;
   color: white;
   font-family: "Montserrat", "Verdana";
   padding-left:5px;
 }

.item{
  border: 0;
  border-left:0;
  cursor: pointer;
  background-color: rgba(0,0,0,.25);
  /* height: 32px; */
  line-height: 32px;
  padding: 5px;
  /* width: 65%; */
  margin-bottom: 5px;
}

.remove img {
  /* color: red; */
  cursor: pointer;
  position: relative;
  float: right;
  padding-top: 8px;
  padding-right: 5px;
  opacity: 0.3;
}

button,
.clear-all {
  border:0;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 16px;
}

.return {
  float: none;
}

.clear-all, .return{
  background-color: rgba(0,0,0,.25);
  font:300 18px "Montserrat", Helvetica, Verdana, sans-serif;
}

button.disabled,
.clear-all.disabled {
  background-color: rgba(0,0,0,.25);
  color: grey;
}

button.disabled .icon-trash,
.clear-all.disabled .icon-trash {
  color: #888
}

